/* Tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {

    .nav-container,
    .menu-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-content {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    .menu-content {
        max-width: 100%;
    }

    .menu-content li {
        padding: 10px;
    }

    .menu-content>li .follow-btn {
        padding: 10px 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }
    
    .banner-container {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 10px;
        max-width: 950px;
        margin: 0 auto;
    }
    
    .banner-title {
        font-size: 60px;
    }
    
    .banner-play {
        font-size: 25px;
    }
    
    .banner-about {
        font-size: 15px;
    }

    .icon-box-image {
        padding: 20px 20px;
    }

    .icon-box-image img {
        width: 40px;
    }

    .icon-title {
        font-size: 15px
    }
        
    .icon-box-image {
        padding: 20px 20px;
    }

    .icon-box-image img {
        width: 40px;
    }


    .icon-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .icon-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}






/* Mobile */


@media screen and (max-width: 576px) {

    nav{
        padding-bottom: 15px;
    }
    .nav-container, .online-games-container,
    .menu-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-content {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .menu-content {
        max-width: 100%;
    }

    .menu-content li {
        padding: 10px;
        padding-left: 10px;
    }

    .menu-content>li .follow-btn {
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 10px;
        max-width: 550px;
        margin: 0 auto;
    }

    .banner-text {
        max-width: 100%;
    }

    .banner-image {
        max-width: 100%;
    }

    .banner-title {
        font-size: 50px;
    }

    .banner-play {
        font-size: 15px;
    }

    .banner-about {
        font-size: 10px;
    }

    .btn {
        display: flex;
        gap: 10px;
    }


    .btn-primary,
    .btn-secondary {
        padding: 10px 20px;
        border: 0;
        border-radius: 24px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        margin-top: 40px;
        color: #FFF;
        font-size: 8px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .btn>.btn-secondary {
        background: #4EC5F7;
    }


    .play-games {
        flex-direction: column-reverse;
        text-align: center;
    }

    .section-title {
        font-size: 25px;
        padding: 20px;
    }

    .section-description {
        font-size: 15px;
        padding: 20px;
    }

    .icon-box-image {
        padding: 20px 20px;
    }

    .icon-box-image img {
        width: 30px;
    }

    .icon-title {
        font-size: 10px;
    }

    .icon-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}